*{
    margin: 0;
}

body{
    background-color: white;
}

/* Login page */

img{
    width: 500px;
}

.container{
    display: flex ;
    justify-content:  center;
    margin-top: 13%;
    p{
        margin-left: 100px;
        font-size: 20px;
        font-weight: bold;
    }
}

#signUp-form{
    width: 400px;
    margin-left: 40px;
}

#signUp-form input[type="password"],
#signUp-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}

#login-form {
    margin-left: 70px;
    width: 300px;
    font-family: Tahoma, Geneva, sans-serif;
}
#login-form input[type="password"],
#login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.signup_button1 {
    width: 100%;
    padding: 15px;
    background-color: #1C7DB7;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}
.signup_button {
    width: 100%;
    padding: 15px;
    background-color: #44853C;
    border: 0;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

/* Page inscription */

#inscription{
    margin-left: 0;
    font-size: 15px;
    a{
        text-decoration: none;
        color: #44853C;
        &:hover {
            color: #1C7DB7;
        }
    }
}

#Form{
    width: 400px;
    margin-left: 40px;
}

#Form input[type="password"],
#Form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}

/* Page Principale */


#imagePrincipale{
    img{
     width: 100%;
   }
   }

.profil{
    border:  1px solid black;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.header_login{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 2px black ;
    
}

#header_menu{
        display: flex;
        flex-direction: row;
        cursor:  pointer;
        li{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 15px;
            list-style: none;
            color: #6d071a;
            font-weight: bold;
            text-decoration: none;
            transform: scale(1);
            &:hover {
               
                transform: scale(1.3);
            }
        }
        a{
            text-decoration: none;
            color: #6d071a;
        }
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 12px gray;
    background-color: white;
    a{
        text-decoration: none;
        color: black;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    #Copyright{
        padding-top: 20px;
    }
}

#accueil_footer{
    margin-top: 70px;
    position : fixed;
    bottom: 0;
    
}

#mentions_legales{
    margin: 50px;
    h1{
        font-weight: bold;
        margin-bottom: 20px;
    }
    
}

#accueil{
    padding-bottom: 150px
}

/* Create article */

#miseEnPage{
    height: 200px;
    width: 100%;

}

.articles{
    p{
        margin-left: 20px;
    }
}

#NewsFeed{ 
    margin: auto;
    padding-top: 50px;
    
    width: 60%;   
}

#Create_article{
  border: 1px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px gray;
  background-color: white;
  input, textarea {
    width: 100%;
padding: 15px;
border: 1px solid #dddddd;
margin-bottom: 15px;
box-sizing:border-box;  
  }

  h1{
      text-align: center;
      margin-left: -10px;
  }
  }

  .post{
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 12px gray;
    transform: scale(1);
    #delete{
        cursor:pointer;
        
 position: absolute;
    top: 0px;
    right: 0px; 
    }
    &:hover {
       
        transform: scale(1.05);
    }
    h1{
        padding: 15px;
    }
    p{
        padding: 10px;
        padding-bottom: 10px;
    }
    hr{
        width: 80%;
        margin: auto;
    }
  } 
  
  #article-nom{
      margin-top: 12px;
  }

  #bienvenue{
      text-align: left;
      font-style: oblique;
      font-weight: bold;
      font-size: 20px;
      margin-top: 15px;
  }
  
  .titre-article{
      text-align: center;
  }

  #titre_feed{
text-align: center;
  }

  .info {
      font-style: italic;
      font-size: 14px;
  }

  #signup_button1 {
    width: 100%;
    padding: 15px;
    background-color: #44853C;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}

#separation{
    width: 85%;
    margin: auto;
    margin-top: 30px;
}


#trait_separation{
    margin-bottom: 10px;
}

#zero_news{
    text-align: center;
}

#titre_session{
    text-align: center;
}

#update_article{
    position: absolute;
    top: 0px;
    right: 25px;
    cursor: pointer;
}


////////* Commentaire */////////////

.post_commentaire{ 
width: 100%;
padding: 15px;
background-color: #1C7DB7;
border: 0;
box-sizing: border-box;
cursor: pointer;
font-weight: bold;
color: #ffffff;
&:hover {
    opacity: 0.8;
}
}

#commentaire
{width: 98%;
    margin-left: 0.5%;
    border: 1px solid #dddddd;}

.detail_commentaire{
    background-color: white;
    
    p{
        color: black;
    }
}

.delete_commentaire{
    float: right;
    cursor: pointer;
}

.name_commentaire{
    font-weight: bold;
    
}
.commentaire_contenant{
    border: 1px solid black;
}

.updateTitre{
    width: 80%;
    margin-left: 15px;
}

.updateTexte{
    width: 80%;
    margin-left: 15px;
}

/* Profil Page */

#profil{
    border: 1px solid black;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px gray;
    background-color: white;
    margin: 0 auto;
    width: 400px; 
    margin-top: 100px;

    p{
        padding: 10px;
        padding-bottom: 20px;
    }
    }

#profil_footer{  
    position: absolute; bottom: 0;

}

#body_profil{
    background: url(/frontend/html/images/empire-state-building-1081929_1920.jpg);
}

#delete_user{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: #6d071a;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        opacity: 0.8;
    }
}

//////////////////////////// Responsive Login Page  //////////////////////


@media (max-width: 877px) { 
.container{
    img{
        width: 200px;
    }
    p{
        margin-left: 0px;
    }
    #login-form {
        margin-left: 40px;
        width: 200px;
        font-family: Tahoma, Geneva, sans-serif;
    }
}
 }


 @media (max-width: 663px) {
    .container{
        display: inline; 
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        
        #login-form {
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            font-family: Tahoma, Geneva, sans-serif;
        }
        #image{
            margin-top: 50px;
        }
    }
  }


  //////////////////////////// Responsive Sign Up  //////////////////////


  @media (max-width: 977px) {
    .container{
        img{
            width: 300px;
        }
        p{
            margin-left: 0px;
        }
    }
  }

  @media (max-width: 870px) {

    body{
        margin-top: 30px;
    }
    .phrase_accroche{
        display: none;
       }
    #container_sU{
        display: inline; 
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       form{
           margin-left: auto;
           margin-right: auto;
           margin-top: 30px;
           width: 70%;
       }
      

  }
  }

//////////////////////////// Responsive Accueil  //////////////////////

@media (max-width: 1030px) {
    #accueil_footer{
        display: none;
    }
}


@media (max-width: 525px) {
    .header_login{
        display: inline;
        
        h1{
            text-align: center;
        }
    }
    #header_menu{
       padding: 0px;
       margin-left: 18%; 
       margin-bottom: 10px;
    }
    #header_menu li{
        
        margin-right: 12px;  
    }

    #commentaire{
        width: 90%;
    }
    #update_article{
        top: 18px;
    }
    .post #delete{
        top: 18px;
    }

    #imagePrincipale{
        display: none;
    }
    .titre-article{
        font-size: 20px;
    }
    .name_commentaire{
        font-size: 12px;
    }

    .description-article{
        font-size: 15px;
    }

    #exprime-toi{
        font-size: 22px;
    }
}

@media (max-width: 375px) {
    .articles{
        h1{
            font-size: 20px;
        }
    }
    #zero_news{
        font-size: 20px;
    }
    #NewsFeed{
        padding-top: 20px;
    }
}


//////////////////////////// Responsive Profil  //////////////////////

@media (max-width: 871px) {
#body_profil{
    margin-top: 0px;
}
}

@media (max-width: 680px) {
#profil_footer{
    display: none;
}}

@media (max-width: 450px) {
    #profil{
        width: 280px;
    }
}

@media (max-width: 330px) {
    #header_menu{
        margin: auto;
        margin-left: 20px;
    }

    .post{
       
    }
}